@media screen and (max-width: 550px) {
	.line {
  display: none;
	}

	.stages-content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.stage {
		margin-top: 10px;
	}
}

@media screen and (max-width: 400px) {
 .stage {
  width: 300px;
 }
}