@media screen and (max-width: 1240px) {
 .news-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
 }

 .news-post-main {
 margin: 0 auto 20px;
 }
}

@media screen and (max-width: 860px) {
	.news {
  padding: 50px 0 20px;

		&-post-main,
  &-post,
  &-posts {
   width: 100%; 
  }

  &-post-main {
   align-items: center;
  }

  &-subtitle {
	  padding: 0 10px;
	  width: 400px;
	 }

	 &-content {
	  width: 400px;
	 }

	 &-post {
	  align-items: center;
	  align-self: center;

	  &-desc {
	   margin-top: 10px ;
	  }
	 }
	}
}

@media screen and (max-width: 660px) {
	.news {
	 &-content {
		 width: 350px;
		 padding: 0 10px;
		 box-sizing: border-box;
		}

	 &-subtitle {
	  width: 350px;
	 }
	}
}

@media screen and (max-width: 450px) {
 .news {
 	padding: 10px;
 	box-sizing: border-box;

  &-posts {
   width: 290px; 
  }

  &-post {
	 	flex-direction: column;
	  text-align: center;

	  &-main {
	  	max-width: 300px;
    box-sizing: border-box;
    text-align: center;

    &-img {
    	width: 240px;

	    img {
	     width: 100%;
	    }
    }
	  }
  }

	 &-content {
	  width: 300px;
	 }

	 &-title {
	  font-size: 25px;
	 }

	 &-subtitle {
		 width: 275px;
		 box-sizing: border-box;
	 }

	 &-post-title_min {
	 font-size: 16px;
	 }
	}
}