@media screen and (max-width: 2100px) {
.main {
 max-width: 655px;

 &-title {
  margin-top: 90px;
  font-size: 29px;
  font-weight: 700;
  line-height: 40px;
  color: #000;
 }

 &-subtitle {
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
 }
}

.btns {
 width: 360px;
}
}



@media screen and (max-width: 860px) {
  .main {
   max-width: none;
   padding: 0 10px;

   &-title {
   	font-size: 23px;
   	margin-top: 40px;
   }
  }

 .phones {
  display: none;
 }
.main:before,
.main:after {
display: none;
}

.btns {
 flex-direction: column;
 align-items: center;
}
}