@media screen and (max-width: 1240px) {
 .news-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
 }

 .news-post-main {
 margin: 0 auto 20px;
}
}

@media screen and (max-width: 860px) {
 .news-subtitle,
 .news-post-main,
 .news-post,
 .news-posts {
  width: 100%; 
}

.news-content {
 width: 400px;
}


.news-post {
 align-items: center;
 align-self: center;
 &-desc {
  margin-top: 10px ;
 }
}
}

@media screen and (max-width: 660px) {
.news-content {
 width: 350px;
}
}

@media screen and (max-width: 450px) {
 .news-posts {
  width: 300px; 
}

.news-title {
 font-size: 25px;
 text-align: center;
}
.news-post-title_min {
 font-size: 16px;
}

.news-post-content {
 margin-left: 10px;
}
 .news-img {
 width: auto;
 height: auto;
}
}