@media screen and (max-width: 1240px) {
 .footer {

  &-copyright {
  	width: 250px;
  }
 }
}

@media screen and (max-width: 980px) {
 .footer {
 	flex-direction: column;
 	align-items: center;
  height: auto;

 	&-copyright {
 	 width: auto;
 	 text-align: center;
 	}

 	&-list {
 	 width: 350px;
 	}

  &-list,
 	&-icons {
   margin-left: 0;	
 	}

  &-icons {
   margin-bottom: 10px; 
  }

 }

 .scroll-up {
  margin-bottom: 10px;
 }
}

@media screen and (max-width: 550px) {
 .footer {
 	height: auto;

  &:after {
   width: 50px;
   height: 50px;
   font-size: 32px;
  }

  &-list {
   flex-direction: column;
   align-items: center;
   width: 300px;
  }
 }
}