@media screen and (max-width: 660px) {
 .subscribe {

  &-input {
  	width: 250px;
  }

  &-btn {
  	width: 130px;
  }
 }
}

@media screen and (max-width: 400px) {
 .subscribe {

  &-input {
  	width: 150px;
  	padding-left: 17px;

  	&::placeholder {
  		color: #fff;
  		font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  	}
  }

  &-btn {
  	width: 100px;
  	font-size: 12px;
  }

  &-input, 
  &-btn {
   padding: 13px;
  }
 }
}
