@media screen and (max-width: 1900px) {
 .bg-img {
	 background-size: 40%;
}
}

@media screen and (max-width: 1400px) {
 .bg-img {
background-image: none;
}
.testimonials {
 align-items: center;
}

	.testimonials-title {
		text-align: center;
		}


.owl-dots {
	text-align: center;
}
}


@media screen and (max-width: 800px) {
	.testimonials-content {
	max-width: none;
	}

	.testimonials-item {
		margin: 0 auto;
	}

	.testimonials-item {
 max-width: 250px;
	}
}
