.feature {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 420px;
	padding-bottom: 135px;
}
.icon-title {
		margin: 25px 0;
		font-size: 18px;
		line-height: 22.5px;
		font-weight: 500;
		color: #000;
	}

.icon-subtitle {
	 font-weight: 300;
	 font-size: 16px;
	 line-height: 20px;
	 color: #000;
	 text-align: center;
	 padding: 0 15px;
	}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 362px;
	align-self: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
	border-radius: 5px;	
	padding: 40px 15px;

 &:nth-child(2) {
	align-self: flex-end;
 }
}

.feature-circle {
 height: 70px;
 width: 70px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.circle-blue {
  background-color: #DFEDfF;
  }

.circle-purple {
  background: #F5DFFF;
 }

.circle-green {
  background: #DFFFE3;
 }


 