.bg-darkblue {
	background: $DarkBlue;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 125px;
	position: relative;
	padding: 10px 0 0;
	box-sizing: border-box;

	&-copyright,
	&-item a {
		font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
	}

	&-list {
		display: flex;
		flex-direction: row;
		width: 345px;
		justify-content: space-between;
	}

	&-icons {
		width: 100px;
		display: flex;
		justify-content: space-between;
		
		img {
			cursor: pointer;
		}
 }
}

.scroll-up {
 display: flex;	
 justify-content: center;
 align-items: center;
 width: 70px;
	height: 70px;
	color: $DarkBlue;
	background: #fff;
	border-radius: 50%;
	right: -5%;
	cursor: pointer;
	opacity: .6;
	transition: all .4s linear;

	&:hover {
  opacity: 1;
	}
}
