 .header {
 	max-width: 1340px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: transparent;
	margin: 0 auto;

	&-logo {
	display: flex;
	width: 179px;
	align-self: flex-start;
	background: $LightBlue;
	padding: 25px 23px 27px;
	border-radius: 0px 0px 21.5px 21.5px;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	box-sizing: border-box; 
	text-decoration: none;
	}

	&-menu {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
 	align-items: center;
 	list-style-type: none;

  &-item {
   margin-right: 100px;
  }
 }

	 li a {
		text-decoration: none;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 20px;

   &:hover {
 	  color: $LightBlue;
   }
  }

 &-btn {
 	text-transform: uppercase;
 	background-color: $DarkBlue;
 	color: #fff;
 	padding: 15px 51px;
 }
	}

.burger {
	display: none;
}


@media screen and (max-width: 2100px) {
	.header {
&-logo {
	width: 140px;
	padding: 15px 20px;
	font-size: 29px;
	font-weight: 700;
	line-height: 30px;
	}

	&-menu {
  &-item {
   margin-right: 60px;
  }
 }

	 li a {
		text-decoration: none;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 17px;
  }

 &-btn {
 	padding: 10px 40px;
 }
}
}