 .header {
 	max-width: 1340px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: transparent;
	margin: 0 auto;

	&-logo {
	display: flex;
	width: 179px;
	align-self: flex-start;
	background: $LightBlue;
	padding: 25px 23px 27px;
	border-radius: 0px 0px 21.5px 21.5px;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	box-sizing: border-box; 
	text-decoration: none;
	}

	&-menu {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
 	 align-items: center;

  &-item {
   margin-right: 100px;
  }
 }

	 li a {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 20px;
    color: #929292;
    transition: all 0.3 linear;
   &:hover {
 	  color: $LightBlue;
    font-weight: 700;
   }
  }

 &-btn {
 	text-transform: uppercase;
 	background-color: $DarkBlue;
 	color: #fff !important;
 	padding: 15px 51px;
 }
}
