.main {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	align-items: center;
	margin: 0 auto;
 
 &-title {
 	margin-top: 128px;
 	font-size: 40px;
 	font-weight: 700;
 	line-height: 50px;
 	color: #000;
 	text-align: center;
 }

 &-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #929292;
  margin-top: 50px;
  text-align: center;
 }
}

.btns {
	margin-top: 33px;
	margin-bottom: 120px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 500px;
}


.phones {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	height: 500px;
	width: 810px;
	margin: 0 auto;
	position: relative;
}

.phones:before {
	content: '';
	position: absolute;
	width: 114px;
	height: 114px;
	background: #0063DD3B;
	z-index: 3;
	border-radius: 50%;
	top: 89%;
	transform: translateY(-89%, 0);
	cursor: pointer;
	transition: .5s linear;
}

.phones:after {
	content: '↓';
	color: #fff;
	text-align: center;
	font-size: 45px;
	line-height: 55px;
	position: absolute;
	width: 70px;
	height: 70px;
	background: $DarkBlue;
	z-index: 4;
	border-radius: 50%;
	top: 93%;
	transform: translateY(-93%, 0);
	cursor: pointer;
}

.phones:hover::before {
	width: 90px;
	height: 90px;
	top: 91%;
}

.phone-left,
.phone-center,
.phone-right {
	display: flex;
	align-items: flex-end;
}

.phone-left {
	z-index: 1;
	margin-right: -63px;
}

.phone-center {
z-index: 2;
}

.phone-right {
z-index: 1;
margin-left: -60px;
}
