.main {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	align-items: center;
	margin: 0 auto;
 
 &-title {
 	margin-top: 128px;
 	font-size: 40px;
 	font-weight: 700;
 	line-height: 50px;
 	color: #000;
 	text-align: center;
 }

 &-subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #929292;
  margin-top: 50px;
  text-align: center;
 }

	&-btns {
		margin-top: 30px;
		margin-bottom: 120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 500px;
	}

	&-phones {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		height: 500px;
		width: 810px;
		margin: 0 auto;
 }
}

.phone-left,
.phone-center,
.phone-right {
	display: flex;
	align-items: flex-end;
}

.phone-left {
	z-index: 1;
	margin-right: -63px;
}

.phone-center {
	z-index: 2;
}

.phone-right {
	z-index: 1;
	margin-left: -60px;
}

.scroll-down {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: absolute;
	width: 70px;
	height: 70px;
	background: $DarkBlue;
	z-index: 5;
	border-radius: 50%;
	opacity: .6;
	bottom: -3%;
	left: 50%;
	transition: .5s linear;

	&:before {
		content: "";
		position: absolute;
		width: 114px;
		height: 114px;
		background: #0063DD3B;
		border-radius: 50%;
	}

	& a {
		z-index: 5;
	}

	&:hover {
  opacity: 1;
 }
}


