 .news {
 display: flex;
 flex-direction: column;
 padding: 130px 0 100px;

 &-title {
	 font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin: 0 auto 25px;
 }

 &-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  width: 722px;
  margin: 0 auto;
  text-align: center;
 }
 
 &-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
 }

&-post-main {
 width: 570px;
 &-img {
  box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
  margin-bottom: 25px;
  width: 100%;
 }
 &-title {
    font-weight: 500;
   color: $LightBlue;
   font-size: 24px;
   line-height: 150%;

 }
}

&-posts {
 display: flex;
 flex-direction: column;
 width: 616px;
}

&-post {
 display: flex;
 flex-direction: row;
 margin-bottom: 30px;
 &-desc {
 font-weight: 300;
 font-size: 16px;
 line-height: 150%;
 margin-top: 25px;
 }

 &-title_min {
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
 }
 
 &-img {
  max-width: 166px;
  width: 100%;
  height: 130px;
  box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
 }

 &-content {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
 }

 &-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
 }
}
}