.stages {
 display: flex;
 align-items: center;
 flex-direction: column;
 text-align: center;

 &-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 113px;
 }

 &-subtitle {
  max-width: 800px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-top: 25px;
 }

 &-content {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-around;
	 margin-top: 45px;
	 padding-bottom: 137px;
	 z-index: 1;
	 position: relative;
	}

	&-icon {
 height: 100px;
 width: 100px;
 border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
 z-index: 4;
	}
}

.stage {
	width: 333px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	height: 0;
	max-width: 1280px;
	width: 70%;
	border-bottom: 2px dashed $DarkBlue;
	position: absolute;
	top: 14%;
	transform: translate(0, -14%);
}
